

<%= link_to pins_path do %>
        <span style="color: white;" class="glyphicon glyphicon-chevron-left"> Back</span>
 <% end %>
 <p></p>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">

      <% if @pin.user == current_user %>
          <%= link_to edit_pin_path(@pin) do %>
          <span class="glyphicon glyphicon-edit"></span>
          Edit
          <% end %>
        <% end %>
      <div class="panel-heading text-center">
        <p><%= @pin.boss %></p>
        <%= image_tag @pin.image.url(:medium) %>
        <p></p>
        <p><%= @pin.quote%></p>
      </div>
      <div class="panel-body">
        
        
        <p><%= @pin.story %></p>
        <p><strong><%= @pin.user.name if @pin.user %></strong></p>

        

      </div>
    </div>
  </div>
</div>